
*:focus {
	outline: 0;
}

*::selection {
	background-color: #d85757;
	color: #fff;
}

*::-moz-selection {
	background-color: #d85757;
	color: #fff;
}

/* ----------------------------
STANDARD TAGS REDECLARATION ---
---------------------------- */


/* ----------------------------
LAYOUT CLASSES ----------------
---------------------------- */

.oWrap {
	position: relative;
}

.iWrap {
	margin: 0px auto;
	position: relative;

}

.center {
	text-align: center;
}
.clear {
	clear: both;
}

/* ----------------------------
LAYOUT ------------------------
---------------------------- */

#header {
	background: #272a39 url('bgDark.jpg') repeat scroll top left;
	border-bottom: 1px solid #fff;
	margin-top: -1px;
	color: #fff;
}

#header .iWrap {
	padding: 20px 0px;
}

#header .iWrap h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 10px;
}

#header .iWrap p {
	color: #d8d8d8;
	font-size: 11px;
	line-height: 15px;
}

#header .iWrap p em {
	color: #efefef;
}

#footer .iWrap p {
	color: #777;
	font-size: 11px;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	padding-bottom: 20px;
}

#switcher {
	background-color: #fff;
	bottom: 20px;
	color: #fff;
	display: inline-block;
	height: 34px;
	font-size: 12px;
	font-weight: bold;
	line-height: 34px;
	padding: 0px 16px;
	position: fixed;
	right: 20px;
	text-transform: uppercase;
	
	box-shadow: 3px 3px 0px rgba(0,0,0,0.1);
	
	text-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

#switcher:hover {
	background-color: #d83e33;
	color: #fff;
}

.downloadBtn, .btn {
	margin: 10px 2px;
}